<module>
	<rawname>miscdests</rawname>
	<name>Misc Destinations</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<miscdests>Misc Destinations</miscdests>
	</menuitems>
	<location>release/miscdests-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-MiscDests</info>
	<md5sum>f6917b04ae359a4977c56e195107ac54</md5sum>
</module>
