<module>
	<rawname>miscdests</rawname>
	<name>Misc Destinations</name>
	<version>1.1.2</version>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>Allows creating destinations that dial any local number (extensions, feature codes, outside phone numbers) that can be used by other modules (eg, IVR, time conditions) as a call destination.</descriptions>
	<menuitems>
		<miscdests>Misc Destinations</miscdests>
	</menuitems>
	<location>release/2.2/miscdests-1.1.2.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-MiscDests</info>
	<md5sum>42b49874879aadd8d02336adfdbd64e2</md5sum>
</module>
